.notification__wrapper {
    position: fixed;
    right: 15px;
    bottom: -150px;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: #B6EACD;
    width: 40%;
    margin: 0 auto;
    height: 60px;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    transition: bottom 0.3s ease-in-out;
}

.notification__wrapper.error {
    background-color: #FEE3E1;
}

.notification__wrapper.success {
    background-color: #B6EACD;
}

.notification__wrapper>img {
    height: 100%;
}

.notification__wrapper>span {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    letter-spacing: 0.8px;
}