.main__wrapper > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.header>h2 {
    color: #222;
    font-family: "Exo 2", sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 45px;
    flex: 1 1 0;
}

.main_header {
    display: flex;
    align-items: center;
    gap: 50px;
    font-family: 'Exo 2', sans-serif;
}

.begin {
    display: flex;
    align-items: center;
    gap: 15px;
}

.add__patient_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add__logo_wrapper {
    width: 33px;
    height: 33px;
    cursor: pointer;

    &>img {
        width: 100%;
        height: 100%;
    }
}

.category_list {
    display: flex;
    align-items: center;
    gap: 20px;

    &>li {
        font-weight: 500;
        font-size: 22px;
        cursor: pointer;
    }
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 33px;
    width: 100%;
}

.search::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    aspect-ratio: 1/1;
    background: url('./../../../assets/images/common__images/search.svg') no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
}

.search>input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.7px solid #333333;
    width: 85%;
    outline: none;
    font-size: 20px;
    height: 28px;
}

.add__patient_wrapper>span {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.search_wrapper {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
}

.main_body {
    margin-top: 45px;
    flex: 1 1 0;
}

.main__body_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.patient__list_item {
    background-color: #858585;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
}

.patient__info_wrapper {
    display: flex;
    align-items: center;
    width: 85%;
    color: #fff;
    gap: 15px;
}

.patient__info_wrapper>h2 {
    width: 45%;
    font-weight: 500;
}

.patient__info_wrapper>h3 {
    width: 30%;
}

.patient__info_wrapper>strong,
.patient__info_wrapper>h3 {
    font-weight: 500;
    text-decoration: underline;
    font-size: 14px;
}

.patient__card_wrapper {
    width: 25px;
    height: 25px;
    cursor: pointer;

    &>img {
        width: 100%;
        height: 100%;
    }
}


.add__personal_wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add__personal {
    background-color: #EFF6FF;
    padding: 120px 180px;
    border-radius: 8px;
    margin: 10px;
}

.add__personal>form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.add__personal>form>label {
    color: #222;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 8px;
}

.add__personal>form>div {
    position: relative;
}

.add__personal>form>div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 17px;
    /* background: url("./../../assets/images/login__images/name.svg"); */
}

.name__icon:before,
.surname__icon::before {
    background: url("./../../../assets/images/login__images/name.svg") no-repeat;
    top: 11px !important;
    left: 7px !important;

}

.email__icon::before {
    background: url("./../../../assets/images/login__images/email.svg") no-repeat;
    top: 13px !important;
    left: 7px !important;
}


.add__personal>form input {
    border-radius: 4px;
    background-color: #fff;
    padding: 14px 11px;
    padding-left: 37px;
    border: none;
    margin-bottom: 40px;
    width: 100%;
}

.add__personal>form>button {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #3B82F6;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.category__active {
    color: #272A68;
    text-decoration: underline;
}

.category__list_wrapper fieldset {
    border: none !important;
}

.category__list_wrapper div {
    font-family: 'Exo 2', sans-serif !important;
    font-size: 24px !important;
    font-weight: 500 !important;
    color: #272A68 !important;
    text-decoration: underline !important;
}

.category__list_wrapper.adaptive__category_list {
    display: none;
}

@media only screen and (max-width: 700px) {
    .main_header {
        gap: 20px;
    }
}

@media only screen and (max-width: 630px) {
    .patient__info_wrapper {
        justify-content: space-between;
    }
    .patient__info_wrapper > strong {
        display: none;
    }

    .patient__info_wrapper > h2 {
        flex: 1 1 0;
    }

    .patient__info_wrapper > h3 {
        width: auto !important;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        margin-bottom: 10px;
    }

    .main {
        margin-top: 15px;
    }
    
    .category__list_wrapper.adaptive__category_list {
        display: flex;
    }

    .main_header > .category__list_wrapper {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .patient__info_wrapper > h2 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 450px) {
    .main_header {
        flex-direction: column;
        align-items: baseline;
    }

    .search_wrapper {
        width: 100%;
    }

    .search > input {
        width: 100%;
    }
}