.profile__container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.header {
    margin-bottom: 50px;
    font-family: "Exo 2", sans-serif;
    font-size: 32px;
    color: #222;
    font-weight: 600;
}

.main {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0;
}

.main_info {
    display: flex;
    gap: 50px;
    font-family: 'Exo 2', sans-serif;
    flex-wrap: wrap;
    width: 100%;
}

.text_info {
    display: flex;
}

.text_info span {
    font-weight: 500;
    font-size: 23px;
    color: #333333;
}

.text_info h1 {
    font-weight: 300;
    font-size: 18px;
    max-width: 270px;
    color: #272A68;
}

.full_name {
    padding-right: 50px;
    border-right: 1px dashed #333333;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &>div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.add_info {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &>div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.ava_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.change__ava_btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    gap: 5px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.main__ava_gender {
    display: flex;
    width: 100%;
    gap: 143px;
    align-items: center;
    margin-bottom: 48px;
}

.ava {
    aspect-ratio: 1/1;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #CBCBCB;
}

.password__info {
    display: flex;
    align-items: center;
    gap: 10px;

    &>img {
        cursor: pointer;
    }

    &>input {
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 5px;
        width: 100px;
        color: #272A68;
        background-color: transparent;
    }
}

.change__password_wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change__password {
    background-color: #fff;
    padding: 20px 25px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    overflow-y: scroll;
    /* максимальная ширина */
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
}

.change__password::-webkit-scrollbar {
    display: none;
}

.change__password>form {
    display: flex;
    flex-direction: column;
    /* min-width: 300px; */
}

.change__password>form>div>div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.change__password>form label {
    color: #333333;
    font-weight: 600;
}


.change__password>form input {
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    border: 0.5px solid #333333;
    width: 100%;
}

.change__password_button {
    width: 100%;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}

.change__password_button {
    background-color: #272A68;
}

.change__password_button:last-child {
    background-color: #858585;
}

.password__visibility_wrapper {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 9px;
    cursor: pointer;
    overflow: hidden;
}

.password__wrapper {
    margin-bottom: 20px;
    position: relative;
}

.password__wrapper::before {
    background: url("./../../assets/images/login__images/password.svg") no-repeat;
}

.password__visibility_wrapper>img {
    height: 100%;
    width: 100%;
}

/* patients */

.dentist_patient {
    margin-top: 40px;
    font-family: 'Exo 2', sans-serif;
    width: 100%;
    flex: 1 1 0;
}

.dentist_patient>h3 {
    font-weight: 600;
    color: #333333;
    font-size: 24px;
}

.patient__category_wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.patient__category_wrapper>div {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.patient_category {
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.patient_list {
    margin-top: 20px;
    width: 80%;
    flex: 1 1 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.patient__list_item {
    width: 100%;
    margin-top: 20px;
    background-color: #858585;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 40px;
    color: #fff;
    cursor: pointer;
}

.patient__list_item>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.patient__list_item h2 {
    font-weight: 400;
    font-size: 20px;
}

.patient__list_item span {
    font-weight: 400;
    font-size: 16px;
}

.list__border_wrapper {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    flex: 1 1 0;
    margin-top: 20px;

    &>div {
        flex: 1 1 0;
        height: 0.7px;
        background-color: #333333;
        margin-bottom: 3px;
    }

    &>span {
        cursor: pointer;
    }
}

.password__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (max-width: 760px) {
    .main {
        align-items: center;
        padding: 0px;
    }

    .text_info {
        display: flex;
        justify-content: space-between;
        flex: 1 1 0;
        gap: 10px;
    }

    .add_info {
        padding-left: 0px;
    }

    .full_name {
        padding-right: 0px;
        border-right: none;

    }

    .change__ava_btn {
        font-size: 17px;
    }

    .patient__category_wrapper {
        flex-direction: column;
    }

    .patient_list {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .text_info {
        flex-direction: column;
        width: 100%;
        gap: 0px;
    }

    .text_info h1 {
        max-width: 100% !important;
        font-size: 23px;
    }

    .text_info span {
        font-size: 18px;
    }

    .full_name>div {
        gap: 5px;
    }

    .add_info>div {
        gap: 5px;
    }

    .password__wrapper {
        gap: 5px;
    }
}