.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.modal_content {
    background-color: #fff;
    padding: 15px;
    width: 90%;
    max-width: 400px;
    /* максимальная ширина */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Lato", sans-serif;
}

.modal_content>div>div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.modal_content label {
    color: #333333;
    font-weight: 600;
    margin-bottom: 5px;
}

.modal_content input,
.modal_content textarea {
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
    border: 0.5px solid #333333;
    width: 100%;
}


.modal_content textarea {
    resize: vertical;
    min-height: 80px;
}

.form__btn {
    width: 100%;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    background-color: #858585;
}

.form__btn_create {
    background-color: #272A68;
}

.date__reception_wrapper input {
    padding: 7px 10px !important;
    border: none !important;
}