.login__main {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
}

.login__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    min-width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
}

.form>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    position: relative;
}

.form>div>label {
    font-weight: 600;
    color: #222;
    font-size: 14px;
    margin-bottom: 8px;
    font-family: 'Exo 2', sans-serif;
}

.form>div>input {
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #333333 !important;
    position: relative;
}

.error {
    color: red;
    font-family: "Lato", sans-serif;
    height: 30px;
}

.button {
    border-radius: 4px;
    background: #272A68;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}

.button:hover {
    -webkit-box-shadow: 0px 0px 15px 2px rgba(44, 82, 111, 0.36);
    -moz-box-shadow: 0px 0px 15px 2px rgba(44, 82, 111, 0.36);
    box-shadow: 0px 0px 15px 2px rgba(44, 82, 111, 0.36);
}


.auth {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: "Exo 2", sans-serif;
}

.auth>a {
    text-decoration: underline;
    color: #333333;
    font-size: 14px;
}