/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    width: 21px;
    height: 17px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #FFF;
    height: 3px !important;
    border-radius: 4px;


}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    cursor: pointer;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    display: none;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #fff;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
    left: 0;
    top: 70px;
}

/* General sidebar styles */
.bm-menu {
    background: #3B82F6;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: transparent !important;
    left: 0;
    top: 0;

}

.menu-item:first-child {
    margin-top: 35px !important;
}

.menu-item {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    color: #fff;
    padding-left: 15px;
    margin-bottom: 33px;
    margin-left: 13px;
}

.menu-item::before{
    content: '';
    position: absolute;
    left: -9px;
    top: 0px;
    width: 20px;
    height: 23px;
}

.first-item{
    background-color: #fff;
    color: #222222;
    padding: 10px;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 25px;
}
