.add__disease_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 170;
}

.add__disease {
    background-color: #fff;
    padding: 15px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    overflow-y: scroll;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;

    &>h2 {
        margin: 0;
        font-size: 20px;
        margin-bottom: 10px;
        font-family: 'Inter', sans-serif;
    }

    &>div>div {
        margin-bottom: 5px;
    }
}

.add__disease button {
    padding: 8px 12px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add__disease button:hover {
    background-color: #0056b3;
}