.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
    color: #5c5c5c !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}

.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: 0.5px solid #333333;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 7px 14px !important;
    padding-bottom: 7px !important;
}

