.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header>h2 {
    color: #222;
    font-family: "Exo 2", sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.header>div {
    flex: 1 1 0;
    padding: 0 30px;
    position: relative;
}

.header>div::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    top: 26%;
    left: 44px;
    background: url("./../../assets//images/personal__images/search.svg") no-repeat;
    background-position: center center;
}

.header input {
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #F6F6F6;
    width: 100%;
    height: 48px;
    padding-left: 45px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.header>button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.me_wrapper {
    background-color: #272A68;
    padding: 35px;
    border-radius: 20px;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.me_wrapper span {
    font-size: 25px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 45px;
}

.main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Exo 2', sans-serif;
}

.left_wrapper {
    display: flex;
    align-items: center;
    width: 75%;
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 50%;
}

.left>span {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 6px;
}

.add__staff_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add__logo_wrapper {
    width: 33px;
    height: 33px;
    cursor: pointer;

    &>img {
        width: 100%;
        height: 100%;
    }
}

.add__staff_wrapper>span {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.pos_wrapper>span {
    font-weight: 500;
    font-size: 26px;
}

.search_wrapper {
    flex: 1 1 0;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.search::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    aspect-ratio: 1/1;
    background: url('./../../assets/images/common__images/search.svg') no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
}

.search>input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.7px solid #333333;
    width: 85%;
    outline: none;
    font-size: 20px;
    height: 28px;
}

.main_body {
    margin-top: 20px;
}

.main__body_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.staff__list_item {
    background-color: #858585;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
}

.staff__info_wrapper {
    display: flex;
    align-items: center;
    width: 85%;
    color: #fff;
    gap: 5px;
}

.staff__info_wrapper>h2 {
    width: 45%;
    font-weight: 500;
}

.staff__info_wrapper>span {
    font-weight: 500;
    text-decoration: underline;
    font-size: 14px;
}

.personal__card_wrapper {
    width: 25px;
    height: 25px;
    cursor: pointer;

    &>img {
        width: 100%;
        height: 100%;
    }
}

.add__personal_wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add__personal {
    background-color: #fff;
    padding: 20px 25px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    overflow-y: scroll;
    /* максимальная ширина */
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add__personal::-webkit-scrollbar {
    display: none;
}

.add__personal>form {
    display: flex;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
}

.add__personal>form>div>div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.add__personal>form label {
    color: #333333;
    font-weight: 600;
    margin-bottom: 5px;
}

.add__personal>form input {
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
    border: 0.5px solid #333333;
    width: 100%;
}

.add__personal_button {
    width: 100%;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}

.add__personal__button_first {

    background-color: #272A68;
}

.add__personal_button:last-child {
    background-color: #858585;
}

.phone__icon {
    padding-bottom: 40px;
}

.password__visibility_wrapper {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    bottom: 9px;
    cursor: pointer;
    overflow: hidden;
}

.password__wrapper {
    margin-bottom: 20px;
    position: relative;
}

.password__wrapper::before {
    background: url("./../../assets/images/login__images/password.svg") no-repeat;
}

.password__visibility_wrapper>img {
    height: 100%;
    width: 100%;
}

.item__wrapper label {
    font-weight: 400 !important;
}

.birthday__wrapper input {
    padding: 7px 10px !important;
    border: none !important;
}

.add__personal em{
    color: #757575;
    font-size: 13px;
    font-style: normal;
}

@media only screen and (max-width: 750px) {
    .pos_wrapper > span {
        display: none;
    }

    .left_wrapper {
        width: auto !important;
    }

    .search{
        padding-right: 33px;
        justify-content: flex-end;
    }

    .left {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .left > span {
        display: none;
    }
}